* {
  margin: 0;
  padding: 0;
}

body {
  background: #cbcbcb;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  box-sizing: border-box;
  width: 100%;
  height: 5vh;
}

.titulo-header {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.main-page {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 30px;
  padding: 10vh 0 2vh 2vw;
  height: 80vh;
}

.section-desconto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: span 1;
  justify-self: center;
  align-self: center;
  box-sizing: border-box;
  background: #818181;
  width: 300px;
  height: 300px;
  border: 2px solid #000000;
  border-radius: 50%;
  margin-bottom: 10px;
}

.espaco-desconto {
  display: flex;
  flex-direction: row;
}

.texto-desconto {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
}

.numero-desconto,
.valor-desconto {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: bold;
}

.section-jogo {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, auto);
  column-gap: 15px;
  row-gap: 15px;
  box-sizing: border-box;
  grid-column: span 2;
  width: 535px;
  height: 150px;
  justify-self: center;
}

.button-sortear {
  grid-column: span 10;
  grid-template-rows: span 1;
  align-self: center;
  justify-self: center;
  width: 271px;
  height: 82px;
  border: 0.5px solid dimgray;
  border-radius: 30px;
  box-shadow: 4px 4px 4px dimgray;
  background: #818181;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 3px 3px 3px dimgray;
}

.button-sortear:hover {
  transition: 0.08s;
  box-shadow: 2.5px 2.5px 2px 0px gray;
}

.button-informacao {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 10;
  grid-row: span 1;
  background-color: #325d9d;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  align-self: flex-end;
  justify-self: flex-end;
  margin-top: 20px;
  color: #ffffff;
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  font-style: italic;
}

.espaco-palavra {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: lightgrey;
  grid-column: span 10;
  padding: 10px;
  height: 20vh;
  border-radius: 10px;
  border: 3px solid gray;
  margin: 1px 0 20px;
}

.dashes {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #000000;
  margin: 0px 4px 50px 4px;
  height: 15px;
}

.button-letra {
  width: 40px;
  height: 40px;
  grid-column: span 1;
  grid-row: span 1;
  align-self: flex-start;
  justify-self: center;
  border-radius: 20%;
  border: 0.3px solid gray;
  box-shadow: 4px 4px 2px 1px gray;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  color: #000000;
  margin: 0;
}

.button-letra:hover {
  transition: 0.05s;
  box-shadow: 2.5px 2.5px 2px 0px gray;
}

.button-letra-errada {
  background: lightpink;
}

.button-letra-certa {
  background: lightgreen;
}

.button-dica {
  grid-column: span 3;
  grid-template-rows: span 1;
  align-self: flex-end;
  justify-self: flex-end;
  width: 60px;
  height: 60px;
  margin: 10px 5px 0 0;
  border: 0.5px solid dimgray;
  border-radius: 100px;
  box-shadow: 4px 4px 4px dimgray;
  background: #818181;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 3px 3px 3px dimgray;
}

.button-dica:hover {
  transition: 0.08s;
  box-shadow: 2.5px 2.5px 2px 0px gray;
  color: #818181;
  background: #ffffff;
  text-shadow: none;
}

.section-dicas {
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-column: span 1;
  width: 500px;
}

.div-dicas {
  background: #818181;
  margin: 0 0 20px 0;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 20px 0% 0% 20px;
  width: 500px;
  height: 120px;
  font-family: "Montserrat", sans-serif;
  box-shadow: 4px 4px 2px 1px lightgray;
  border: 0.8px solid dimgray;
  align-self: flex-end;
}

.titulo-dicas {
  color: #ffffff;
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 5px;
}

.texto-dicas {
  font-size: 18px;
  font-weight: bold;
}

.popup {
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 250px;
  width: 500px;
  background-color: #357ec7;
  z-index: 900;
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
}

.cabecalho-popup {
  margin-top: 3px;
  color: lightgray;
  font-weight: bold;
}

.msg-popup {
  position: relative;
  box-sizing: border-box;
  color: black;
  padding: 10px;
  background-color: lightgray;
  margin: 0 auto;
  margin-top: 1em;
  width: 95%;
  height: 80%;
  margin-bottom: 10px;
}

.fechar {
  text-align: center;
  position: absolute;
  cursor: pointer;
  color: white;
  background-color: #ff605c;
  height: 22px;
  width: 22px;
  right: 0;
  top: 0;
  margin: 5px;
  border-radius: 5px;
  border: none;
  padding: 1px 7px 2px 6px;
}

.fechar:hover {
  background-color: #ff5f5cb6;
}

.texto-popup {
  margin: 15px;
}

.ok-popup {
  position: absolute;
  bottom: 25px;
  height: 30px;
  width: 70px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.hide-popup {
  display: none;
}
